$c-black: #282a35;
$c-blue: #c6cbcf;
$c-low-blue: #e7e9eb;
$c-high-blue: rgb(32, 121, 218);
$c-dark-blue: rgba(96, 130, 226, 0.5);


.inputs{
    width:600px;
    height: 500px;
    border: 1px solid #000;
}