.form{
    width: 670px;
    height: 450px;
    display: flex;
    overflow: hidden;
    border-radius: 0.5rem;
    justify-content:center;
}

.form__left{
    width:30%;
    // background-color: #bcd3f7;
    background-image: url('https://i.pinimg.com/originals/c3/76/47/c37647d3cd724c0dc86a7db7627eaba5.jpg');
    background-size: 670px 450px;
    background-position: -200px 0px;
    display:flex;
    position: relative;

}
.form__left__img{
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    opacity: 0.95;
}
.form__left__img--login{
    position: relative;
    top: 0px;
    left:32px;
}
.form__left__img--register{
    position:relative;
    max-height: 420px;
    top:30px;
    left:-50px;
}
.form__right{
    width: 68%;
    background-color: #363642;
    color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
    box-sizing: border-box;
}
.form__right--login{
    padding:30px;
}
.form__right--register{
    padding:10px 30px;
}

.form__right__inputs{
    width: 100%;
    label{
        opacity: 0.5;
        font-size:14px;
    }
}
.form__right__inputs--login{
    input + label {
        margin-top: 25px;
    }
    label+input{
        margin-top:10px;
    }
}
.form__right__inputs--register{
    width: 100%;
    label{
        opacity: 0.5;
        font-size:14px;
    }
    input + label {
        margin-top: 0px;
    }
    label+input{
        margin-top:0px;
    }
}

.form__right__notify{
    margin-top: 10px;
}
.form__right__notify__item--span{
    opacity: 0.5;
    font-size:14px;
}
.form__right__notify__item--a{
    color: white;
    opacity: 0.8;
}

@media only screen and (max-width: 647px){
    .form{
        width: 344px;
    }
    .form__left{
        display: none;
    }
    .form__right{
        width: 100%;
    }
    .form__right__title{
        font-size: 18px;
        margin: 10px 0px;
    }
    .form__right__inputs{
        label{
            font-size:12px;
        }
    }
    .form__right--login{
        padding:20px;
    }
    .form__right__inputs + .btn{
        margin-top:50px;
    }
}