@use 'Searchbar';


// $searchbar-h: 40px;
// $searchbar-w: 200px;

.dropdown{
    outline:none;
    box-sizing: border-box;
    height: Searchbar.$searchbar-h;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 6px;
    border: 1px solid #157dec;
    color:#157DEC;
    position: relative;
}
.dropdown__item{
    position: absolute;
    right: 0px;
}


@media screen and (max-width:488px){
    .dropdown{
        padding:0px 5px;
    }
    .dropdown__item{
        padding: 0;
        margin: 0;
        font-size: 10px;
        width: 50px;
        border: none;
    }
}