$background-color: #2A2E37;
$search-bg-color: #242628;
$icon-color: #00d8fe;

$searchbar-h: 40px;
$searchbar-w: 200px;
* {
    box-sizing: border-box;
}
.searchbar{
    border-radius:0.3rem;
    background-color:$search-bg-color;
    display: flex;
    width: $searchbar-w;
    height: $searchbar-h;
    padding:5px;
    transition: 1s linear;
}
.searchbar__input{
    margin: 0;
    display: block;
    height: 100%;
    width: calc(100% - #{$searchbar-h - 10px});
    box-sizing:border-box;
    background-color:transparent;
    border: none;  
    outline: none;
    color:white;
    border-left: 2px solid $icon-color;
    padding: 5px;
    transition: 1s linear;
}
.searchbar__button{
    position: relative;
    width: #{$searchbar-h - 10px};
    height:100%;
    cursor: pointer;
    padding: 0;
}
.searchbar__iconI, .searchbar__iconII, .searchbar__iconIII{
    padding: 0;
    margin: 0;
    position: absolute;
    transition: 1s linear;
    background-color: $icon-color;
}
.searchbar__iconI{
    width: 100%;
    height: 100%;
    background-color:transparent;
    border: 2px solid $icon-color;
    border-radius: 50%;
}
.searchbar__iconII{
    width: 30%;
    height: 2px;

    left: 50%;
    top:50%;
    transform-origin: 100% 50%;
    transform:translate(-50%, -50%) rotate(45deg);
}
.searchbar__iconIII{
    width: 30%;
    height: 2px;
    
    left:50%;
    top:50%;
    transform-origin: 100% 50%;
    transform:translate(-50%, -50%) rotate(-45deg);
}

.open{
    width: #{$searchbar-h + 5px};
    padding-left: 0;
    .searchbar__input{
            width: 0;
            padding: 0;
            padding-right: 5px;
    }
    .searchbar__iconI{
        width: 60%;
        height: 60%;
    }
    .searchbar__iconII{
        left: 51.2132%;
        top: 51.2132%;
        transform-origin: 0% 50%;
        transform: rotate(45deg);
    }
    .searchbar__iconIII{
        left:calc(72%);
        top:calc(72%);
        transform-origin: 0% 50%;
        transform: rotate(45deg);
    }
}

@media screen and (max-width:488px){
    .searchbar{
        width: 150px;
    }
    .open{
        width: #{$searchbar-h + 5px};
    }
}