.toolbar{
    background-color: #dce8f5;
    padding-top:3px;
    width:100px;
    display:flex;
    justify-content: space-evenly;
    border-radius: 0.3em;
    box-shadow: 0.2rem 0.2rem 0.4rem 0.1rem rgba(0, 0, 0, 0.4);
}
.toolbar__item{
    display: flex;
}
.toolbar__item--btn{
    cursor: pointer;
}

.toolbar--two{
    width: 65px;
}

.toolbar--column{
    width: 25px;
    height:45px;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}