.fluid{
    margin: 20px 30px 30px 30px;
    padding:0px;
}
.body{
  height:100vh;
}
.views-form{
  background-color:red;
  height: calc(100% - 70px);
  margin:auto;
  display: flex;
  justify-content:center;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/a0/d8/5c/a0d85cedce9d92515f1e91c1860d40d0.jpg');
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


button:hover{
    cursor: pointer;
}
.btn{
  border:none;
  font-weight: bold;
  border-radius:0.3rem;
  padding: 5px 15px;
  width:100px;
  box-shadow: 1px 1px 2px black;
}
.btn--nav{ 
    height: 100%;
    margin:0px 15px;
    color:white; 
    background-color:transparent;
    border:hidden;
}
.btn--form{
    border: 2px solid white;
    padding: 7px 20px;
}
.btn--card{
    background-color:rgb(36, 152, 230);
    color:white;
    font-size: 15px;
    border-radius:0.3rem;
    border:hidden;
    box-shadow:  1px 1px 2px black;
}
.btn--submit{
  font-weight: normal;
  font-size: 17px;
  box-shadow: none;
  border-radius: 0;
}
.btn--secondary{
  background-color: rgb(49, 157, 230);
  color: white;
}
.btn--purple{
  background-color: #7488d6;
  color:white;
}
.btn--card:hover{
    background-color:rgb(32, 121, 218);
}

.input{
  outline:none;
  box-sizing: border-box;
  border: none;
  // background-color:transparent;
  // border-bottom: 1px solid rgb(231, 226, 226, .3);  
}
.input-form{
  background-color:transparent;
  border-bottom: 1px solid rgb(231, 226, 226, .3);
  color:white;
  height: 40px;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.scroll--custom{
    ::-webkit-scrollbar {
        width: 7px;
      }
      
      /* Track */           //khung
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        // background: #60a4ec; 
        background: rgb(187, 187, 187);
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(123, 122, 122); 
      }
}
.scroll--blue{
    ::-webkit-scrollbar-thumb {
        background: #60a4ec; 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #458fdf; 
      }
}

.mr-r-10{
  margin-right:10px;
}
.mr-r-20{
  margin-right:20px;
}
.mr-t-10{
  margin-top:10px;
}
.mr-t-20{
  margin-top:20px;
}

.mr-b-10{
  margin-bottom:10px;
}
.mr-b-20{
  margin-bottom:20px;
}

.pd-tb-10{
  padding-top:10px;
  padding-bottom: 10px;
}
.pd-tb-15{
  padding-top:15px;
  padding-bottom: 15px;
}
.pd-tb-20{
  padding-top:20px;
  padding-bottom: 20px;
}
.pd-tb-30{
  padding-top:30px;
  padding-bottom: 30px;
}
.w-full{
  width:100%;
}

.d-b{
  display: block;
}