// navbar

.doc__navbar{
    margin-top: 10px;
    display:flex;
    background:#282a35;
    color:white;
    align-items:center;
    padding: 10px 30px;
    justify-content:flex-start;
}

.doc__navbar__item{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:bold;
    color:white;
}
.doc__navbar__item + .doc__navbar__item{
    padding-left: 25px;
}
.doc__navbar__item:hover{
    cursor: pointer;
}

//content

.doc__content{
    display: flex;
}

// Leftbar
.doc__content__leftbar{
    width:222px;
    background-color: #e7e9eb;
    font-family: "Segoe UI",Arial,sans-serif;
}
.doc__content__leftbar__item{
    padding:5px 0px;
    padding-left:16px;
    cursor: pointer;
    position:relative;
}
.doc__content__leftbar__item + .doc__content__leftbar__item{
    border-top:1px solid #c6cbcf;
}
.doc__content__leftbar__item--title{
    margin: 0px;
    font-weight:400;
}

.doc__content__leftbar__item__toolbar{
    position: absolute;
    top: 0px;
    right: -25px;
}
//detail

.doc__content__detail{
    width:calc(100% - 222px);
    padding: 20px 30px;
}

//form
.doc__form{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.doc__form__head{
    margin-bottom: 20px;
}
.doc__form__head , .doc__form__content{
    border-radius: 0.3rem;
    position: relative;
}
.doc__form__content{
    padding: 20px 20px 35px 20px;
    border:1px solid black;
}
.doc__form__chilPart__toolbar{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.item__label{
    display:block;
    margin-bottom: 5px;
}
.doc__form__input{
    width:100%; 
    box-sizing: border-box;
    border: 2px solid rgba(96, 130, 226, 0.5);
    outline-color:rgb(32, 121, 218);
    border-radius: 0.3rem;
    padding:0px 10px;
}
input.doc__form__input{
    height:30px;
}
textarea.doc__form__input{
    padding:10px;
}
.doc__form__content__item{
    position: relative;
}
.doc__form__content__item + .doc__form__content__item{
    margin-top:10px;
}

.doc__form__btn-container{
    display: flex;
    justify-content: flex-end;
}
.doc__form__btn-container--right{
    justify-content: flex-end;
}

//toolbar
.doc__toolbar{
    width:100%;
    display: flex;
    justify-content: flex-end;
    position:absolute;
}

.hide{
 display:none;
}

