.cards{
    display:flex;
    flex-wrap: wrap;
}
.card{
    box-sizing: border-box;
    width:350px;
    height:630px;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    display:flex;
    flex-direction:column;
}
.card__img{
    height:68%;
}
$pd-rl: 7px;
.card__text{
    height:26%;
    margin:0px;
    overflow: auto;
    padding:0px $pd-rl;
}
.card__btn{
    box-sizing: border-box;
    margin: 7px;
    padding:0px;
    height:6%;
    border:none;
    background:#2498e6;
    color:white;
    border-radius:0.3rem;
    font-size: 15px;
}
.card__btn:hover{
    cursor:pointer;
}