.DocNavb{
    display:flex;
    background:#282a35;
    color:white;
    align-items:center;
    padding: 10px 30px;
    justify-content:flex-start;
}

.DocNavb__item{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:bold;
}
.DocNavb__item + .DocNavb__item{
    padding-left: 25px;
}
.DocNavb__item:hover{
    cursor: pointer;
}