.DocLeftbar{
    font-family: "Segoe UI",Arial,sans-serif;
    background:#e7e9eb;
    width:222px;
    float:left;
}

.DocLeftbar__item{
    padding:5px 0px;
    padding-left:16px;
}
.DocLeftbar__item + .DocLeftbar__item{
    border-top:1px solid #c6cbcf;
}

.DocLeftbar__item__title{
    margin: 5px 0;
    font-weight:400;
}