.Navbar{
    background:#181718;
    color:white;
    display:flex;
    align-items:center;
    font-family:arial;
    justify-content: space-between;
    height:70px;
}

.Navbar__list{
    display:flex;
    align-items:center;
    margin:0px 30px;
    cursor: pointer;
}
// .Navbar__list:hover{
//     cursor:pointer;
// }
.Navbar__list__h1{
    font-size:27px;
}
.Navbar__list__h2{
    margin: 0px 14px;
    font-size:20px;
}
.Navbar__list__h2--outline{
    border: 2px solid white; 
    padding :5px 15px;
}
.Navbar__list__h2--outline:hover{
    color:black;
    background-color: white;
}